.idea
dist
node_modules
examples/specs/other1.oas3.json
examples/specs/other2.oas3.json
src/test-outputs
src/oas3/specification/specification.other.test.ts
src/oas3/codegen/generate.other.test.ts
coverage
